/* 
==========================================================================
General
========================================================================== 
*/

.app-new-post {
    margin: 10px auto;
    text-align: center;
    background: rgb(37, 164, 255);
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: center;
    /* line-height: 3; */
    padding: 20px 0;
    border-radius: 10px;
}

.app-new-post p {
    margin: -15px auto 0;
    color: #fff;
}

@media screen and (min-width: 360px) and (max-width: 720px) {}